/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/

/* Add the Azeret variable webfont here */

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    /* add some whitespace to the page */
    /* set the font family to your variable webfont */
    /* play with the different stylistic sets in the font features of this font */

    line-height: 1.5;
    background-color: black;
    color: #00ff00;
}

/* make sure the element that is editable has no outline */

/*---------------------------------------/*
# OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
# COMPONENTS
/*---------------------------------------*/

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/